@keyframes flashtext{
    0% {transform: scale(1.1)}
    50% {transform: scale(1.25)}
    100% {transform: scale(1.1)}
}

@keyframes spinZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes hide{
    0% {height: 150px;
        transform: scaleY(1);}
    25%{transform: scale(1);}
    100% {height: 0px;
        transform: scaleY(0);}
}

@keyframes show{
    0% {height: 0px;
        transform: scaleY(0);}
    75%{transform: scale(1);}
    100% {height: 150px;
        transform: scaleY(1);}
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* font */
@font-face {
  font-family: Bungee;
  src: url(../assets/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: Lexend;
  src: url(../assets/fonts/Lexend/Lexend-VariableFont_wght.ttf);
}