@import url(root.css);

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 60%;

    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    border-radius: 2vw;
    padding: 25px;
}
form > div{
    position: relative;
    margin-bottom: 15px;
}

input{
    margin-bottom: 25px;
}

input[type=text]{
    width: 60%;
    height: 30px;
    font-size: 100%;
}
input[type=radio]{
    display: none;
    cursor: pointer;
}
input[type=radio] + label::before{
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    align-self: center;
    left: -20px;
    position:absolute;
}

input[type=radio]:checked + label::before{
    background-color: rgb(255, 237, 138);
}

input[type=radio] + label{
    padding: 5px;
}

input[type=radio]:checked + label{
    color:gold;
    border-radius: 0.5vw;
}

input[type=submit]{
    margin-top: 25px;
    background-color: rgb(116, 0, 23);
    color: white;
    border: none;
    font-size: 120%;
    padding: 3px;
    border-radius: 0.5vw;
}

input[type=submit]:hover{
    background-color: rgb(199, 0, 40);
    color: white;
    border: none;
    transform: scale(1.05);
    padding: 7px;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + .check{
    background-color: rgb(255, 147, 147);
}

input[type=checkbox]:checked + .check{
    background-color: rgb(147, 255, 165);
}

input[type=checkbox]:checked + .check::before{
    transform: translateX(30px);
}
