/* body */

html{
    scroll-snap-type: both proximity;
}

#main-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    background-image: 
        linear-gradient(rgba(88, 28, 28, 0.7), rgba(88, 28, 28, 0.8)),
        url(assets/img/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
}
#body{
    padding: 15px;

    margin-left: 10%;
    margin-right: 10%;

    color: white;
    font-size: 1.25vw;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.4);
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
        url(assets/img/bg2.jpg);
    border: 1px solid rgb(255, 110, 110);

    font-family: Lexend;
    height: fit-content;
}

#body.scroll-animation *{
    animation: appear 5s ease-in-out;
    animation-timeline: view();
    animation-range: entry 0 cover 10%;
}

#body.hover-animation p:hover, #body.hover-animation h1:hover,#body.hover-animation img:hover,#body.hover-animation dl:hover{
    transform: scale(1.02);
}

#body *{
    transition: all 0.3s;
}

.content-table{
    width: 100%;

    margin: 0;
    margin-top: 15px;
    padding: 0;

    table-layout: fixed;
    border-collapse: collapse;
    
}

.content-table td{
    padding: 15px;
    word-wrap: break-word;
}

.content-table .left-slot{
    border-right: 1px white dashed;
}

/* header */

#main-header {
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;

    height: 150px;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), 
        url(assets/img/chau-van-liem.jpg); 
    background-position: center;

    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
}
#main-header.hidden {
    animation: hide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#main-header.showed {
    animation: show;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#main-header h1{
    animation: flashtext;
    align-self: center;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}
#offical-web-link{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 125%;
}
#main-header #time-count{
    display: flex;
    position: absolute;
    bottom: 0;
    gap:20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 125%;
}
#cvl_logo{
    width: 100px;
    vertical-align: middle;
}

.title{
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title h1{
    padding: 10px;
    font-family: 'Bungee';
    color:rgb(255, 235, 211);
}
.src{
    text-decoration: none;
    padding: 10px;
    border-radius: 1em;
}
.src:hover{
    color: aquamarine;
    background-color: rgba(0, 62, 155, 0.5);
    border:none;
    border-bottom: 1px aquamarine solid;
    border-right: 1px aquamarine solid;
}

/* features */

.text{
    padding-inline: 15%;
}

.money{
    color:rgb(187, 255, 119);
}

.page{
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: rgb(255, 119, 119);
    border-radius: 25%;
}

.page-switch{
    justify-self: center;

    color:black;
    font-size: 125%;
    position: sticky;
    top:0px;  
    z-index: 1;

    margin: 0;
    padding: 0;
    width: max-content;
}

.page-switch-button{
    color:black;
    background-color: rgb(255, 119, 119);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25%;
}
.page-switch-button:hover{
    background-color: rgb(199, 61, 61);
}

.page-switch a{
    text-decoration: none;
}

.drop-shadow{
    /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4); */
    filter: drop-shadow( 25px 15px 10px rgba(0, 0, 0, 0.4));
}

/* .drop-shadow:hover{
    transform:rotate3d(1,3,0, 45deg);
} */

.mark{
    background-color: rgba(255, 230, 0, 0.2);
    width: fit-content;
}

/* sections */

nav {
    background-color: lightyellow;
    box-shadow: 0 4px 2px -2px gray;
    border-bottom: 1px solid;
}

#settings-button{
    font-size: 150%;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 225, 94);
    border: none;
}

#settings-button:hover{
    background-color: rgb(139, 118, 21);
    color:white;
}

#settings-container *{
    transition: all 0.3s;
}

#settings-container{
    color: white;
    font-family: Bungee;
    font-size: 150%;
}

#settings-container.open{
    position: absolute;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: rgba(0,0,0,0.5);

    width: 100%;
    height: 100%;
}
#settings-container.open #settings{
    animation: appear 0.5s;
    animation-fill-mode: forwards;
}
#settings-container{
    display: none;
}
#settings{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgba(121, 114, 25, 0.9);
    border-radius: 2vw;
    border: yellow 1px solid;
    box-shadow: 0 0 25px 10px rgba(255, 255, 96, 0.377);

    padding: 10px;
    padding-top: 100px;
    width: min(50%, 450px);
    aspect-ratio: 1/1;
}

#setting-close-button{
    border: none;
    background: none;
    color: white;
    scale: 2;
    position: absolute;
    right: 25px;
    top:25px;
    cursor: pointer;
}

#setting-close-button:hover{
    color: rgb(255, 54, 54);
    scale: 2.5;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li:nth-child(1){
    flex: 0 0 100px;
}

nav li {
    flex:1;
    text-align: center;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
    /* color: #003366; */
    color:rgb(71, 25, 14);
}

.section-name{
    padding: 10px;
    transition: all 0.3s;
}

.section-name:hover {
    color: #ffffff;
    /* background-color: #001429; */
    background-color:rgb(71, 56, 14);
    transform: scale(1.1);
}

iframe {
    border: none;
    width: 100%;
    height: 100%;   
    scrollbar-width:auto;
}
.tag-iframe{
    width: min(550px, 70vw);
    aspect-ratio: 2/1.25;
    border-radius: 1vw;
}
/* custom list type */

.time-list{
    border: 2px inset rgb(255, 206, 161);
    padding: 20px;
}

.time-list dt{
    color: gold;
}

.time-list dd{
    margin-bottom: 1em;
    font-family: monospace;
}

.time-list dd ul li{
    margin-bottom: 10px;
}

.custom-type li{
    list-style-type: none;
    position: relative;
    margin-bottom: 1em;
}
.custom-type li::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(to right,yellow, rgb(216, 140, 0));
    border-radius: 50%;
    top:15px;
    left:-20px;
}

.tag-container{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap:25px;
}
.tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    padding-bottom: 10px;
    padding-inline: 10px;
    flex-grow: 1;
    border-bottom: rgba(255,255,255,0.5) solid 2px;
}

.tag:hover{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2));
    transform: scale(1.0075);
}

.tag-title{
    font-size: 1.5rem;
}

.list-container{
    display: flex;
    justify-content: center;
}

.list-showcase{
    width: 65%;
    aspect-ratio: 96/60;
    box-shadow: 0 0 15px 15px rgba(255, 185, 80, 0.144);
}

.list-site{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.list-site *{
    scroll-snap-align: start;
}

.list{
    display: flex;
    margin: 0;
    padding: 0;
}

.list-elements{
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* scrollbar */

::-webkit-scrollbar{
    width: 1em;
}

::-webkit-scrollbar-track{
    background: rgb(59, 51, 0);
}

::-webkit-scrollbar-thumb{
    background:rgb(255, 230, 90);
}

::-webkit-scrollbar-thumb:hover{
    background:rgb(182, 255, 114);
}

/* form */

form{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 60%;

    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    border-radius: 2vw;
    padding: 25px;
}
form > div{
    position: relative;
    margin-bottom: 15px;
}

input{
    margin-bottom: 25px;
}

input[type=text]{
    width: 60%;
    height: 30px;
    font-size: 100%;
}
input[type=radio]{
    display: none;
    cursor: pointer;
}
input[type=radio] + label::before{
    content: "";
    height: 15px;
    width: 15px;
    background-color: white;
    align-self: center;
    left: -20px;
    position:absolute;
}

input[type=radio]:checked + label::before{
    background-color: rgb(255, 237, 138);
}

input[type=radio] + label{
    padding: 5px;
}

input[type=radio]:checked + label{
    color:gold;
    border-radius: 0.5vw;
}

input[type=submit]{
    margin-top: 25px;
    background-color: rgb(116, 0, 23);
    color: white;
    border: none;
    font-size: 120%;
    padding: 3px;
    border-radius: 0.5vw;
}

input[type=submit]:hover{
    background-color: rgb(199, 0, 40);
    color: white;
    border: none;
    transform: scale(1.05);
    padding: 7px;
}

.option{
    margin-bottom: 20px;
}

.check{
    background-color: wheat;
    width: 60px;
    height: 30px;
    border-radius: 10vw;
    position:absolute;
    align-self: center;
    margin-left: 20px;
}
.check::before{
    content: "";
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;

    position: absolute;

    background-color: rgb(90, 69, 0);
    transition: all 0.3s;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox] + .check{
    background-color: rgb(255, 147, 147);
}

input[type=checkbox]:checked + .check{
    background-color: rgb(147, 255, 165);
}

input[type=checkbox]:checked + .check::before{
    transform: translateX(30px);
}


/* others */
a{
    color: white;
}

video{
    aspect-ratio: 16/5;
    background-color: black;
    width: 100%;
}

/* animations */

@keyframes flashtext{
    0% {transform: scale(1.1)}
    50% {transform: scale(1.25)}
    100% {transform: scale(1.1)}
}

@keyframes spinZ {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes hide{
    0% {height: 150px;
        transform: scaleY(1);}
    25%{transform: scale(1);}
    100% {height: 0px;
        transform: scaleY(0);}
}

@keyframes show{
    0% {height: 0px;
        transform: scaleY(0);}
    75%{transform: scale(1);}
    100% {height: 150px;
        transform: scaleY(1);}
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

/* font */
@font-face {
  font-family: Bungee;
  src: url(assets/fonts/Bungee/Bungee-Regular.ttf);

  /* font-weight: normal;
  font-style: normal;
  font-display: swap; */
}

@font-face {
  font-family: Lexend;
  src: url(assets/fonts/Lexend/Lexend-VariableFont_wght.ttf);

  /* font-weight: normal;
  font-style: normal;
  font-display: swap; */
}